name: MLflow CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Run actions/checkout@v3
        uses: actions/checkout@v3

      # Set up Python 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      # Check Env
      - name: Check Env
        run: |
          python --version
          pip --version

      # Install dependencies
      - name: Install dependencies
        run: |
          pip install mlflow==2.19.0
          pip install pandas numpy scikit-learn

      # Run MLflow Project (DagsHub)
      - name: Run mlflow project
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/viramonicaas/eksperimen_SML_ViraMonica.mlflow
          MLFLOW_TRACKING_USERNAME: viramonicaas
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      # Get latest MLflow run_id
      - name: Get latest MLflow run_id
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/viramonicaas/eksperimen_SML_ViraMonica.mlflow
          MLFLOW_TRACKING_USERNAME: viramonicaas
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          RUN_ID=$(mlflow runs list --max-results 1 | tail -n 1 | awk '{print $1}')
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

      # Upload artifacts
      - name: Upload artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns/

      # Log in Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build Docker Model
      - name: Build Docker Model
        run: |
          cd MLProject
          mlflow models build-docker \
            -m runs:/$RUN_ID/model \
            -n viramonicaa/diabetes-mflow

      # Tag Docker Image
      - name: Tag Docker Image
        run: |
          docker tag viramonicaa/diabetes-mflow viramonicaa/diabetes-mflow:latest
          docker push viramonicaa/diabetes-mflow:latest

